<?xml version="1.0"?>
<launch>
  <node pkg="gazebo_ros" type="spawn_model" name="spawnCube5" args="-sdf -model cubo5s -x -0.35 -y -0.4 -z 0.4 -file /home/uga/ros/erc2021/workspace/src/ERC_2021_simulator/ur_description/urdf/cube5single.sdf">
     <!--<param name="file" value="" />-->
  </node>
  <node pkg="gazebo_ros" type="spawn_model" name="spawnCentrifuga" args="-sdf -model centrifuga -x -0.95 -y 0 -z 0.2 -Y 0.66 -file /home/uga/ros/erc2021/workspace/src/ERC_2021_simulator/ur_description/urdf/centrifuga.sdf">
  </node>
  <node pkg="gazebo_ros" type="spawn_model" name="spawnPannello" args="-sdf -model pannello -x 0 -y 0.26 -z 0 -R -1.57 -Y -1.57 -file /home/uga/ros/erc2021/workspace/src/ERC_2021_simulator/ur_description/urdf/panel.sdf">
  </node>
</launch>
