<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur3" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur3 -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />

  <!-- arm -->
  <xacro:ur3_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <!-- gripper, inertia values are unrelaible
   <link name="gripper">
    <visual>
	<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
	<geometry>
	    <mesh filename="package://ur_description/meshes/gripper/gripper.stl" scale="0.001 0.001 0.001"/>
	</geometry>
    </visual>
    <collision>
	<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
	<geometry>
	    <mesh filename="package://ur_description/meshes/gripper/gripper.stl" scale="0.001 0.001 0.001"/>
	</geometry>
    </collision>
    <inertial>
        
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="534306880.000000" ixy="-297469.312500" ixz="-4140206.750000" iyx="-297469.312500" iyy="452308608.000000" iyz="83961360.000000" izx="-4140206.750000" izy="83961360.000000" izz="303997888.000000" />
      </inertial>
  </link>

  <joint name="gripper_joint" type="fixed">
    <origin xyz="-0.075 -0.005 0.125" rpy="1.57 0 3.14"/>
    <parent link="tool0"/>
    <child link="gripper"/>
  </joint>
-->
  
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
